<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="order.productImage" alt="order.name image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">order.productName</h5>
                <p class="card-text">order.priceTag</p>
                <p class="card-text">order.quantity</p>
                <p class="card-text">order.totalPrice</p>
                <p class="card-text">order.notes</p>
                <a href="/cart/edit" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
        </div>
    </div>
</div>