<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#">My Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Transaction</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card">
            <h5 class="card-header">On Going Transaction</h5>
            <div class="card-body">
                <h5 class="card-title">Order List</h5>
                <p class="card-text">Payment Status</p>
                <p class="card-text">Shipping Status</p>
                <p class="card-text">Bills</p>
                <p class="card-text">Payment Method</p>
                <p class="card-text">Shipping Method</p>
                <p class="card-text">Transfer Code</p>
                <a href="#" class="btn btn-primary">Confrim Payment</a>
                <a href="#" class="btn btn-primary">Confrim Shipping</a>
            </div>
            <a href="#" class="btn btn-primary">See Purchasement History</a>
        </div>
    </div>
</div>