<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">My Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Transaction</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Customer Name</h5>
        <p class="card-text">Customer Email</p>
        <p class="card-text">Customer Phone</p>
        <a href="#" class="btn btn-primary">Edit Account</a>
        <div class="card">
            <h5 class="card-header">My Address</h5>
            <div class="card-body">
                <h5 class="card-title">Status</h5>
                <p class="card-text">Country</p>
                <p class="card-text">State</p>
                <p class="card-text">City</p>
                <p class="card-text">Zip</p>
                <p class="card-text">Street</p>
                <p class="card-text">Details</p>
                <a href="#" class="btn btn-primary">Set as default</a>
                <a href="#" class="btn btn-primary">Delete this address</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Status</h5>
                <p class="card-text">Country</p>
                <p class="card-text">State</p>
                <p class="card-text">City</p>
                <p class="card-text">Zip</p>
                <p class="card-text">Street</p>
                <p class="card-text">Details</p>
                <a href="#" class="btn btn-primary">Set as default</a>
                <a href="#" class="btn btn-primary">Delete this address</a>
            </div>
            <a href="#" class="btn btn-primary">Add new address</a>
        </div>
        <a href="#" class="btn btn-primary">Logout</a>
    </div>
</div>