<div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Recommend</div>
    <div class="card-body">
        <h5 class="card-title">Do you have any recomendation?</h5>
        <form>
            <div class="mb-3">
                <label for="recommend-product" class="form-label">Please fill the input below for a considerable product: </label>
                <input type="text" class="form-control" id="recommend-product-name" placeholder="Product Name">
                <input type="text" class="form-control" id="recommend-example-link" placeholder="Example-link">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>